
    PORT=3000
    DATABASE_FILE=./data/game.db
    TELEGRAM_BOT_TOKEN=
    ADMIN_SECRET=change-this-secret
    TRON_RECEIVER_WALLET=TPNARMXa2rTfuigwvXAxKDsfPXQgpshxKY
    TRONGRID_API=https://api.trongrid.io
    TRONGRID_API_KEY=
    TRX_NETWORK=mainnet
